body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-style: normal;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  background-color: #333;
}

.titulologo img {
  width: 50%; /* Ajuste conforme necessário */
}

.menu {
  font-size: 100%;
}

.btnMenu {
  list-style-type: none;
  margin: 0;
  padding: 1% auto;
}

.imgMenu {
  display: inline-block;
  margin-right: 10px;
}

.imgMenu img {
  width: 100%; /* Ajuste conforme necessário */
}

.mainback {
  justify-content: center;
  text-align: center;
  padding: 50px;
  background-image: url('./imagens/backcastelo1440.png');
  /* Você pode adicionar outras propriedades de background, como repetição, posição, tamanho, etc., conforme necessário */
}

.boxmodel {
  background-color: rgba(51, 51, 51, 0.682); /* Cor de fundo transparente */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 60px;
  border: 2px solid var(--white); /* Cor da borda */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Sombra */
  width: 80%;
  margin: 0 auto; /* Centralizar horizontalmente */
}

.bv1 {
  color: #fca311;
  font-size: 28px;
  margin-bottom: 10px;
}

.bv2 {
  font-size: 18px;
  color: #fca311;
}

.btnUl {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.btnexplore {
  background-color: #fca311; /* Cor de fundo dourada */
  color: rgba(255, 255, 255, 0.832);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnexplore:hover {
  background: rgba(41, 39, 39, 0.565); /* Cor de fundo dourada com transparência ao passar o mouse */
}

/* Estilos para o rodapé */
.rodape {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

.developed {
  color: rgba(255, 255, 255, 0.377);
}

/* Estilos para os parágrafos dentro do rodapé */
.rodape p {
  margin: 20px 0;
}

/* Estilos para as redes sociais */
.RedesSociais {
  margin-top: 40px;
}

.RedesSociais a {
  margin: 0 5px;
}

.RedesSociais img {
  width: 30px;
  height: 30px;
  border-radius: 30%; /* Define um border radius de 50% para criar uma borda circular */
}

/*PAGES*/
/* Estilo para o seletor principal */
/* Estilo para o contêiner dos elementos de seleção */
.printAll {
  align-items: center;
  gap: 10px;
  padding: 3%;
  background-color: #F1B415;

}

.select-option{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select, .campodebusca, .refresh {
  display: flex;
  vertical-align: middle;
  border-color: #333;
  background-color: #F1B415;

}

.select {
  text-align: center;
  align-items: center;
  min-width: 266px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid  ;
  font-weight: 700;
  font-size: small;
  width: 25%;
}

.campodebusca {
  color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 40px;
  width: 25%;
  min-width: 266px;
  border-radius: 5px;
  border: 2px solid  ;
  text-align: center;
  font-size: 14px small;
}

.refresh {
  color: black;
  width: 10%;
  height: 40px;
  border-radius: 5px;
  border-color: #333;
  border: 2px solid;
  font-size: small;
  text-align: center; /* Centraliza o texto */
  font-weight: bold; /* Deixa o texto em negrito */
}


.div-calc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  margin: 1% auto;
  font-size: 18px;
  color: white;
}

.ulList {

  padding: 0;
}

/*card*/
.card {
  border: 1px #333;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1f0ec74;
  width: 40%;
  border: 2px solid
}

.buttonTop{
  display: block;
  position: fixed;
  text-align: center;
  bottom: 20px;
  right: 30px;
  border-color:#333;
  background-color: #F1B415;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid;
}

.btntop :hover{

  padding-bottom: 5px;
}
